.Card {
  background-color: red;
  border: 3px solid red;
  border-radius: 10px;
  overflow: hidden;
}

.Card .Title {
  padding: 10px 0px;
}

.Card .Content {
  background-color: #fff;
  color: #000;
}
